/* Reset some default browser styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap");

body,
h1,
button,
input,
label {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: "Roboto Mono", monospace;
}

#password-result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

/* Add more styles as needed */
